.filters {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  padding: 24px 0;
}

.filters__search {
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
  justify-content: stretch;
  margin-right: 8px;
  overflow: hidden;
  width: 100%;
}

.filters__search__input {
  background: transparent;
  border: none;
  color: #4c84ff;
  font-size: 1.4rem;
  font-weight: bold;
  outline: none;
  padding: 5px 10px;
  width: 100%;
}

.filters__search__icon {
  background: transparent;
  font-size: 1.4rem;
  color: #9fa9bc;
}

.filters__search__icon:hover {
  color: #4c84ff;
}

::placeholder {
  color: #9fa9bc;
  font-weight: normal;
}

.filters__item {
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
  color: #9fa9bc;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.3rem;
  font-weight: normal;
  justify-content: center;
  margin: 0 8px;
  padding: 10px;
  white-space: nowrap;

  & i {
    color: #9fa9bc;
    margin-top: -5px;
    margin-left: 8px;
  }
}

.filters__item.is-selected {
  background-color: #4c84ff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;

  & i {
    color: #fff;
  }
}
