@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400, 700");

* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
