.main {
  background-color: #f2f2f2;
  width: 100%;
}

.main-nav {
  width: 100%;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  list-style: none;
  margin: 0 auto;
  padding: 0 20px;
}

.main-menu-item {
  margin: 0 20px;
  color: #e4bb23;
  padding: 25px 0;
  text-transform: uppercase;
}

.main-menu-item:hover {
  box-shadow: inset 0 -1px 0 #e4bb23;
}

.main-movies {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}

.movie {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
  width: 24%;
}

.movie-header {
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.movie-header img {
  width: 100%;
  height: auto;
}

.movie-play {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 80px 20px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.movie:hover .movie-play {
  opacity: 1;
  visibility: visible;
}

.movie-play h3 {
  color: #e4bb23;
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
}

.movie-play-link {
  color: #fff;
  font-size: 5em;
  transition: all 0.2s ease-in-out;
}

.movie-play-link:hover {
  color: #e4bb23;
}

.movie-content {
  padding: 10px;
  width: 100%;
}

.movie-title {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.movie-genre {
  margin: 10px 0;
  display: flex;
}

.movie-genre-item {
  text-decoration: none;
  font-size: 1.2em;
  color: #e4bb23;
}

.movie-genre-item:hover {
  text-decoration: underline;
}

.movie-buttons .fa {
  color: #ccc;
  cursor: pointer;
}

.movie-buttons:hover .fa {
  color: #e74c3c;
}

.movie-buttons {
  margin: 0;
  align-items: center;
  display: flex;
  font-size: 2em;
  font-weight: bold;
  justify-content: space-between;
}
