.header {
  background-image: url("../img/capa-madmax2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  padding: 20px;
  position: relative;
  width: 100%;
}

.header:after {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 212, 255, 0) 75%
  );
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.header-nav {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  width: 100%;
}

.header-menu {
  flex: 1;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.header-menu-item {
  margin: 0 25px;
}

.header-menu-item a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

.header-menu-item a:hover {
  color: #e4bb23;
}

.header-user {
  display: flex;
  align-items: center;
}

.header-user-photo {
  margin-right: 15px;
}

.header-user-photo {
  border-radius: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  height: 45px;
  margin-right: 15px;
  overflow: hidden;
  width: 45px;
}

.header-user-photo img {
  width: 100%;
  height: auto;
}

.header-user-name {
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

.header-content {
  width: 100%;
  z-index: 2;
}

.header-title {
  font-size: 6.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin: 0;
  line-height: 1.2em;
}

.header-genre {
  display: flex;
  list-style-type: none;
  margin: 15px 0 30px;
  padding: 0;
}

.header-genre-item {
  font-size: 1.4em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.header-genre-item:hover {
  color: #e4bb23;
}

.header-genre-item:nth-child(2) {
  padding: 0 10px;
}

.header-button {
  padding: 15px 50px;
  color: #000;
  font-size: 1.5em;
  background-color: #e4bb23;
  border: none;
  border-radius: 40px;
  position: relative;
}

.header-button:hover {
  background-color: #bc9a1d;
}

.header-button span {
  font-size: 1.5em;
  position: absolute;
  right: 15px;
  top: 12px;
}

.header-info {
  padding: 20px 0;
  font-size: 1.4em;
  color: #fff;
}

.header-info p:last-child {
  color: #bc9a1d;
}
