* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 19px;
}

:root {
  --main-blue: rgb(29, 161, 242);
  --main-white: white;
}

.margin {
  margin: 5px;
}

.margin--negative {
  padding: -5px;
}

.tweets {
  margin: 0 auto;
  border: 1px solid rgb(230, 236, 240);
  width: 600px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
}

.header__title {
  font-weight: bold;
}

.header__icon {
  font-size: 15px;
  color: var(--main-blue);
}

.user__image {
  height: 50px;
  width: 50px;
}

.user__image > img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.post {
  display: flex;
}

.post__image {
}

.post__form {
  flex: 1;
}

.post__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.input input {
  width: 100%;
  height: 50px;
  padding: 10px 0px;
  font-size: 19px;
  border: none;
}

.input input:focus {
  outline: none;
}

.button {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 15px;
}

.button--tweet {
  background-color: var(--main-blue);
  color: var(--main-white);
  opacity: 0.5;
}

.icon {
  padding: 10px;
}

.icon--tweet {
  color: var(--main-blue);
}
