@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding-top: 60px;
  font-family: "Open Sans", sans-serif;
  background-color: #f8f9fb;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .container {
    width: 960px;
  }
}
